<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Scoreboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Scoreboard.Properties.Settings>
            <setting name="EmailAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="StartTime" serializeAs="String">
                <value />
            </setting>
            <setting name="GameDuration" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="PeriodDuration" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="IntervalDuration" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ExtraPeriodDuration" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ExtraPeriodName" serializeAs="String">
                <value>Extra Time</value>
            </setting>
            <setting name="RemoveExistingGames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecordGoalScorers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="PenaltyDuration" serializeAs="String">
                <value>2:00</value>
            </setting>
            <setting name="NumberOfPeriods" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MinimumTimeBetweenGames" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SimplifySecondaryDisplay" serializeAs="String">
                <value>False</value>
            </setting>
        </Scoreboard.Properties.Settings>
    </userSettings>
    <runtime>
        <generatePublisherEvidence enabled="false"/> 
    </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
